@{
    ViewData["Title"] = "Home Page";
}

<div class="my-4">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">

        <div class="col-12">
            <label class="visually-hidden" for="searchTerm">Search</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="" id="searchTerm" name="searchTerm" placeholder="Search">
            </div>
        </div>

        <div class="col-12">
            <button id="Search_Button" type="submit" class="btn btn-primary">Search</button>
            <a id="Reset_Link" href="" class="btn btn-dark">Reset</a>
        </div>
    </form>
</div>

<div id="Pizza_Container" class="w-100 mt-4 d-flex flex-wrap justify-content-evenly">
    @if (Model.Count == 0)
    {
        <div id="No_Pizza_Found" class="text-center fs-4 fw-bold">No pizza found</div>
    }
    else
    {
        @foreach (var pizza in Model)
        {
            <div id="Pizza_Card" class="card my-3" style="width: 16rem;">
                @if (string.IsNullOrEmpty(pizza.Image))
                {
                    <div class="d-flex p-2 justify-content-center">
                        <img src="/css/images/sample-pizza.png" alt="Default" style="width:200px;height:200px" />
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center p-2">
                        <img src="/css/images/@pizza.Image" alt="Pizza" style="width:200px;height:200px" />
                    </div>
                }
                <div class="card-body">
                    <h5 id="Pizza_Name" class="card-title">@pizza.Name</h5>
                    <p id="Pizza_Description" class="card-text">@pizza.Description</p>
                    <div class="d-flex align-items-baseline justify-content-between">
                        <span id="totalPrice">@pizza.Price.ToString("C")</span>
                        <a id="AddToCart" href="#" class="btn btn-primary" onclick="add(@pizza.Id)">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    }
</div>  

@section Scripts {
    <script>
        async function add(pizzaId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
                return; // Added return to exit the function
            }

            try {
                var response = await fetch(`/Cart/AddItem?pizzaId=${pizzaId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                    console.log("Logged In");
                }
            } catch (err) {
                console.log(err);
            }
        }
    </script>
}
